.DS_Store
.idea
Pipfile
Pipfile.lock
*.docx
*.doc
venv/
bin/
etc/
lib/
include/
share/
pyvenv.cfg
*.pyc
notes/
notes/*
*.xlsx
data/forecasting/*
data/forecasting/
notebooks/explore_data.ipynb
.ipynb_checkpoints/
